body{
  font-family:"Comic Sans MS";
}
img{
  display: inline-block;
  vertical-align: top;
}
ul{
  list-style-type: none;
}
.numberColor{
  display: inline-block;
}

canvas{
  background:url(http://i.imgur.com/63bGrVU.png?2);
  background-size: 100% 100%;
  display:block;
  width: 100% !important;
  max-width: 400px;
  height: auto !important;
}
#scoutCanvas{
  display: inline;
}

.playerChart{
  display: block;
}

.active{
  color:red;
}
.container{
  height:300;
  width: 400;
}
