<h2>#{{pShowVM.player.number}} {{pShowVM.player.name}}</h2>
<input type="text" data-ng-model="pShowVM.player.number" />
<input type="text" data-ng-model="pShowVM.player.name" />
<button type="button" data-ng-click="pShowVM.update()">Update</button>
<button type="button" data-ng-click="pShowVM.delete()">Delete</button>
<div class="container">
<canvas id="base" class="chart-bubble" chart-data="data"
  chart-series="series" chart-options="options" chart-colors="colors">
</canvas>
</div>
<ul>
  <li data-ng-repeat="shot in pShowVM.player.shots">{{shot.xCoordinate}} {{shot.yCoordinate}} {{shot.result}}</li>
</ul>
